@charset "UTF-8";
body, html {
  margin: 0;
  padding: 0;
  color: #e6ecf0;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}

.Container {
  min-width: 613px;
}

* {
  box-sizing: border-box;
  padding: 0;
}

.profile-content {
  position: relative;
  top: 46px;
}

.profile-container {
  height: 320px;
}
.profile-container .profile-cover {
  position: relative;
  width: 100%;
}
.profile-container .profile-cover .profile-header {
  height: 320px;
  margin-top: 0;
}
.profile-container .profile-cover .profile-header .profile-header-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.profile-container .profile-cover .profile-header .profile-header-bg img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto 0;
  width: 100%;
}
.profile-container .profile-cover .profile-header .avatar-container {
  height: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
}
@media screen and (min-width: 1236px) {
  .profile-container .profile-cover .profile-header .avatar-container {
    max-width: 1190px;
  }
}
.profile-container .profile-cover .profile-header .avatar-container .profile-container-avatar {
  bottom: -87px;
  left: 10px;
  position: absolute;
  transition: bottom 0.3s;
}
.profile-container .profile-cover .profile-header .avatar-container .profile-container-avatar .profile-avatar {
  background: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  height: 200px;
  position: relative;
  width: 200px;
  z-index: 11;
}
.profile-container .profile-cover .profile-header .avatar-container .profile-container-avatar .profile-avatar .profile-picture {
  display: block !important;
  outline: 0;
}
.profile-container .profile-cover .profile-header .avatar-container .profile-container-avatar .profile-avatar .profile-picture img {
  border-radius: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.profile-container .profile-cover .profile-Navbar {
  background-color: #fff;
  box-sizing: border-box;
  height: 60px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  position: relative;
}
.profile-container .profile-cover .profile-Navbar .navbar-container {
  margin: 0 auto;
  max-width: 1000px;
}
@media screen and (min-width: 1236px) {
  .profile-container .profile-cover .profile-Navbar .navbar-container {
    max-width: 1190px;
  }
}
.profile-container .profile-cover .profile-Navbar .navbar-container .nav-list {
  display: flex;
  margin: 0;
  position: relative;
  list-style: none;
  padding: 0;
}
.profile-container .profile-cover .profile-Navbar .navbar-container .nav-list .nav-list-item {
  text-align: center;
  display: block;
  width: 100px;
  height: 60px;
  line-height: 1.5;
  padding-top: 10px;
  position: relative;
}
.profile-container .profile-cover .profile-Navbar .navbar-container .nav-list .isSelected {
  border-bottom: solid 2px #1DA1F2;
}
.profile-container .profile-cover .profile-Navbar .navbar-container .nav-list .isSelected .nav-item-value {
  font-weight: 800;
  color: #1DA1F2;
}
.profile-container .profile-cover .profile-Navbar .navbar-container .nav-list .nav-list-item:hover {
  border-bottom: solid 2px #1DA1F2;
}
.profile-container .profile-cover .profile-Navbar .navbar-container .nav-list .nav-list-item:hover .nav-item-value {
  font-weight: 800;
  color: #1DA1F2;
}
.profile-container .profile-cover .profile-Navbar .navbar-container .nav-list .nav-list-item:last-child:hover {
  border-bottom: 0;
}
.profile-container .profile-cover .profile-Navbar .navbar-container .nav-list .first-item-blance {
  width: 22%;
}
.profile-container .profile-cover .profile-Navbar .navbar-container .nav-list .nav-item-link {
  color: #657786;
  display: block;
  position: relative;
  text-decoration: none;
}
.profile-container .profile-cover .profile-Navbar .navbar-container .nav-list .nav-item-link .nav-item-label {
  display: block;
}
.profile-container .profile-cover .profile-Navbar .navbar-container .nav-list .nav-item-link .nav-item-value {
  display: block;
  font-size: 18px;
  font-weight: 800;
}
.profile-container .profile-cover .profile-Navbar .navbar-container .nav-list .item-button {
  position: absolute;
  right: 5%;
  margin-top: 0.25%;
}
.profile-container .profile-cover .profile-Navbar .navbar-container .nav-list .button-edit-profile .button-edit {
  height: 35px !important;
  background-color: #fff;
  border: 1px solid #66757f;
  color: #66757f;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 35px;
  padding: 0px 15px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.tweets-board-container .heading-title {
  border-bottom: 2px solid #e6ecf0;
}
.tweets-board-container .heading-title .title-content {
  background-color: #fff;
  margin-bottom: -1px;
}
.tweets-board-container .heading-title .title-content .title-toggle {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.tweets-board-container .heading-title .title-content .title-toggle .title-item {
  cursor: default;
  line-height: 1;
  padding: 15px 15px 12px;
  text-decoration: none;
  display: block;
}
.tweets-board-container .heading-title .title-content .title-toggle .title-item a {
  font-weight: 800;
  color: #1DA1F2;
  font-size: 18px;
}
.tweets-board-container .heading-title .title-content .title-toggle .title-item a:hover {
  border-bottom: solid 1px #1DA1F2;
}
.tweets-board-container .tweets-timeline .tweet-container {
  position: relative;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets {
  position: relative;
  margin: 0;
  list-style: none;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet {
  background: #fff;
  border-bottom: 3px solid #e6ecf0;
  padding: 9px 12px;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-content {
  text-align: left;
  margin-left: 58px;
  position: relative;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-content .tweet-header {
  display: flex;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-content .tweet-header .tweet-profile-link {
  color: #14171a;
  overflow: hidden;
  flex-shrink: 1;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-content .tweet-header .tweet-profile-link img {
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  position: absolute;
  margin-top: 3px;
  margin-left: -58px;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-content .tweet-header .tweet-profile-link .displayName {
  max-width: 100%;
  font-weight: 800;
  font-size: 18px;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-content .tweet-header .tweet-profile-link .displayName:hover {
  color: #1DA1F2;
  border-bottom: solid 1px #1DA1F2;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-content .tweet-header .tweet-profile-link .userName {
  color: #9ad1ff;
  font-size: 12px;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  max-width: 500px;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-content .tweet-header .tweet-profile-link .time::before {
  color: #657786;
  content: "°";
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-content .tweet-header .tweet-profile-link .time {
  font-size: 16px;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-content .tweet-header .tweets-action {
  margin: -2px -9px 0 auto;
  min-width: inherit;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-content .tweet-text-container {
  position: relative;
  padding-top: 10px;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-content .tweet-text-container p {
  overflow: hidden;
  white-space: pre-wrap;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  font-size: 14px;
  font-weight: 500;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer {
  display: inline-flex;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #e6ecf0;
  text-align: center;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-love button:hover {
  cursor: pointer;
  color: #ff0083;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-reply button:hover {
  cursor: pointer;
  color: #00eff8;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-like button:hover {
  cursor: pointer;
  color: #00a7f8;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-wow button:hover {
  cursor: pointer;
  color: #00f86c;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-haha button:hover {
  cursor: pointer;
  color: #f8cf00;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-sad button:hover {
  cursor: pointer;
  color: #dd00f8;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-angry button:hover {
  cursor: pointer;
  color: #f80d00;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-love-active button {
  color: #ff0083;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-like-active button {
  color: #00a7f8;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-wow-active button {
  color: #00f86c;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-haha-active button {
  color: #f8cf00;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-sad-active button {
  color: #dd00f8;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-angry-active button {
  color: #ff0083;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-item-active {
  min-width: 80px;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-item-active button {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  position: relative;
  border: none;
  background: transparent;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-item-active button .actionCount {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  margin-left: 12px;
  position: relative;
  vertical-align: text-bottom;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-item-active button:hover {
  cursor: pointer;
  color: #657786;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-item {
  min-width: 80px;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-item button {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  position: relative;
  border: none;
  background: transparent;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet .tweet-action-footer .action-item button .actionCount {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  margin-left: 12px;
  position: relative;
  vertical-align: text-bottom;
}
.tweets-board-container .tweets-timeline .tweet-container .list-tweets .item-tweet:hover {
  background: #eff4fa;
  cursor: pointer;
}
.tweets-board-container .stream-end-inner {
  padding: 15px 50px;
  background-color: #fff;
}

.sidebar {
  text-align: left;
  margin-top: 20px;
}
.sidebar .sidebar-head {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 27px;
  font-weight: bold;
}
.sidebar .sidebar-head .displayName {
  text-align: center;
  margin: 0;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}
.sidebar .sidebar-head .displayName div {
  line-height: 28px;
}
.sidebar .sidebar-head .displayName div:hover {
  color: #04dff8;
}
.sidebar .sidebar-head .address {
  color: #657786;
  position: relative;
  margin-bottom: 20px;
  word-break: break-all;
}
.sidebar .sidebar-head .address span:hover {
  color: #04dff8;
  transition-duration: 0.4s;
}
.sidebar .sidebar-head .location {
  color: #657786;
  position: relative;
  font-weight: bold;
  margin-bottom: 20px;
}
.sidebar .sidebar-head .balance {
  color: #657786;
  position: relative;
  font-weight: bold;
  margin-bottom: 20px;
}
.sidebar .sidebar-head .bandwidth {
  color: #657786;
  position: relative;
  font-weight: bold;
  margin-bottom: 20px;
}
.sidebar .sidebar-head .bandwidthTime {
  color: #657786;
  position: relative;
  font-weight: bold;
  margin-bottom: 20px;
}
.sidebar .sidebar-head .birthdate {
  color: #657786;
  position: relative;
  margin-bottom: 20px;
}

.main-page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  top: 110px;
  background-color: #e6ecf0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.main-content .sidebar-left {
  display: inline-block;
  width: 300px;
  margin: 10px;
  vertical-align: top;
  margin-top: 50px;
}
.main-content .content {
  display: inline-block;
  height: 100%;
  width: 600px;
  margin-top: 10px;
  vertical-align: top;
}
.main-content .main-right {
  display: inline-block;
  width: 900px;
  height: 100%;
  margin: 10px;
  vertical-align: top;
}
.main-content .sidebar-right {
  display: inline-block;
  width: 300px;
  background-color: #fff;
  margin: 10px;
  vertical-align: top;
}
.main-content .single-page {
  display: inline-block;
  width: 1000px;
  height: 100%;
  margin: 10px;
  vertical-align: top;
}

/*# sourceMappingURL=app.css.map */
