.tweet-container {
  position: relative;

  .view-more{
    margin: 5px;
    font-size: 15px;
    font-weight: 500;
  }
  .view-more:hover{
    cursor: pointer;
    color: #00a7f8;
  }

  .tweets-action {
    float: right;
    display: inline-block;
    text-align: right;
    min-width: inherit;
  }

  .comment-btn {
    width: 100px;
    height: 25px;
    bottom: 13px;
    left: 13px;
    cursor: pointer;
    font-size: 15px;
    &:hover {
      background: rgba(0, 0, 0, 0.14);
    }
  }

  .action-item {
    min-width: 40px;
    margin-right: 10px;


    .actionCount {
      font-size: 15px;
      font-weight: normal;
      margin-left: 5px;
      position: relative;
    }
  }
  .tweet-action-footer {
    display: -webkit-box;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 10px;
    border-top: solid 1px #e0e6ea;
  }

  .main-tweet{
    background-color: white;
    padding: 30px;
    border-bottom: solid 1px #e0e6ea;
    img {
      width: 50px;
      height: 50px;
      max-width: 50px;
      max-height: 50px;
      border-radius: 50%;
      position: absolute;
      display: inline-block;
    }
    .name{
      display: block;
      margin-left: 60px;
      margin-bottom: 10px;
    }
    .displayName {
      // display: flex;
      max-width: 100%;
      font-weight: 800;
      font-size: 18px;
    }
    .displayName:hover {
      color: #1DA1F2;
      border-bottom: solid 1px #1DA1F2;
    }
    .userName {
      color: #9ad1ff;
      font-size: 12px;
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
      max-width: 500px
    }

    .time {
      font-size: 12px;
    }


    .tweet-text-container {
      position: relative;
      p {
        white-space: pre-wrap;
        overflow: hidden;
        margin: 0;
        width: 100%;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }

  .moreStat{
    border-top: 1px solid #e0e6ea;
    margin-top: 10px;
    display: flow-root;
    .countStat{
      font-size: 14px;
      margin-right: 20px ;
      float: right;
    }
  }


  .list-tweets {
    position: relative;
    margin: 0;
    list-style: none;
    .item-tweet {
      background: rgb(230, 255, 201);
      border-top: 2px solid #ffffff;
      // background-clip: padding-box;
      padding: 10px 80px;
      .tweet-content {
        text-align: left;
        margin-left: 58px;
        position: relative;

        .tweet-header {
          display: block;
          .tweet-profile-link {
            color: #14171a;
            overflow: hidden;
            // display: inline-block;
            flex-shrink: 1;
            img {
              width: 50px;
              height: 50px;
              max-width: 50px;
              max-height: 50px;
              border-radius: 50%;
              position: absolute;
              margin-top: 3px;
              margin-left: -58px;
            }
            .displayName {
              // display: flex;
              max-width: 100%;
              font-weight: 800;
              font-size: 18px;
            }
            .displayName:hover {
              color: #1DA1F2;
              border-bottom: solid 1px #1DA1F2;
            }
            .userName {
              color: #f44336;
              font-size: 12px;
              overflow: hidden;
              display: block;
              text-overflow: ellipsis;
              max-width: 500px
            }
            .time::before {
              color: #657786;
              content: "\00b0"
            }
            .time {
              font-size: 16px;
            }
          }
        }
        .tweet-text-container {
          position: relative;
          p {
            white-space: pre-wrap;
            overflow: hidden;
            margin-bottom: 0px;
            -webkit-line-clamp: 4;
            display: -webkit-box;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }

    .item-tweet:hover {
      background: rgba(250, 231, 0, 0.29);
      cursor: pointer;
    }
  }
}

