.tweet-container {
  position: relative;


  .tweets-action {
    float: right;
    display: inline-block;
    text-align: right;
    min-width: inherit;
  }
  .action-love {
    button:hover{
      cursor: pointer;
      color: #ff0083;
    }
  }
  .action-reply {
    button:hover{
      cursor: pointer;
      color: #00eff8;
    }
  }

  .action-like {
    button:hover{
      cursor: pointer;
      color: #00a7f8;
    }
  }

  .action-wow {
    button:hover{
      cursor: pointer;
      color: #00f86c;
    }
  }

  .action-haha {
    button:hover{
      cursor: pointer;
      color: #f8cf00;
    }
  }

  .action-sad {
    button:hover{
      cursor: pointer;
      color: #dd00f8;
    }
  }

  .action-angry {
    button:hover{
      cursor: pointer;
      color: #f80d00;
    }
  }

  .action-drop {
    button:hover{
      cursor: pointer;
      color: #70df00;
    }
  }

  .action-item {
    min-width: 80px;
    button {
      color: #657786;
      display: inline-block;
      font-size: 16px;
      line-height: 1;
      padding: 2px;
      position: relative;
      border: none;

      background: transparent;

      .actionCount {
        font-size: 16px;
        font-weight: bold;
        line-height: 1;
        margin-left: 10px;
        position: relative;
        vertical-align: text-bottom;
      }
    }
  }
  .tweet-action-footer {
    display: inline-flex;
    margin-bottom: 0px;
    text-align: center;
  }

  .main-tweet{
    background-color: #edf9ff;
    padding: 30px;
    border-bottom: solid 1px #e6ecf0;
    img {
      width: 50px;
      height: 50px;
      max-width: 50px;
      max-height: 50px;
      border-radius: 50%;
      position: absolute;
      display: inline-block;
    }
    .name{
      display: block;
      margin-left: 60px;
      margin-bottom: 10px;
    }
    .displayName {
      // display: flex;
      max-width: 100%;
      font-weight: 800;
      font-size: 18px;
    }
    .displayName:hover {
      color: #1DA1F2;
      border-bottom: solid 1px #1DA1F2;
    }
    .userName {
      color: #9ad1ff;
      font-size: 12px;
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
      max-width: 500px
    }

    .time {
      font-size: 12px;
    }

    .countStat{
      font-size: 18px;
      font-weight: 800;
      margin-right: 20px ;
    }

    .countStat:hover{
      color: #00eec3;
      cursor: pointer;
    }

    .moreStat{
      border-top: 1px solid #e6ecf0;
      border-bottom: 1px solid #e6ecf0;
      padding-top: 10px;
      padding-bottom: 10px;

    }

    .tweet-text-container {
      position: relative;
      p {
        white-space: pre-wrap;
        overflow: hidden;
        margin: 0;
        width: 100%;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }


  .list-tweets {
    position: relative;
    margin: 0;
    list-style: none;
    .item-tweet {
      background: #daffaf;
      border-bottom: 1px solid #ffffff;
      // background-clip: padding-box;
      padding: 10px 80px;
      .tweet-content {
        text-align: left;
        margin-left: 58px;
        position: relative;

        .tweet-header {
          display: block;
          .tweet-profile-link {
            color: #14171a;
            overflow: hidden;
            // display: inline-block;
            flex-shrink: 1;
            img {
              width: 50px;
              height: 50px;
              max-width: 50px;
              max-height: 50px;
              border-radius: 50%;
              position: absolute;
              margin-top: 3px;
              margin-left: -58px;
            }
            .displayName {
              // display: flex;
              max-width: 100%;
              font-weight: 800;
              font-size: 18px;
            }
            .displayName:hover {
              color: #1DA1F2;
              border-bottom: solid 1px #1DA1F2;
            }
            .userName {
              color: #f44336;
              font-size: 12px;
              overflow: hidden;
              display: block;
              text-overflow: ellipsis;
              max-width: 500px
            }
            .time::before {
              color: #657786;
              content: "\00b0"
            }
            .time {
              font-size: 16px;
            }
          }
        }
        .tweet-text-container {
          position: relative;
          p {
            white-space: pre-wrap;
            overflow: hidden;
            margin-bottom: 0px;
            -webkit-line-clamp: 4;
            display: -webkit-box;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }

    .item-tweet:hover {
      background: rgba(250, 229, 0, 0.27);
      cursor: pointer;
    }
  }
}

