.row-payment{
  font-weight: 600;
  font-size: 14px;
  border-top: 2px solid white;

}

.received-money{
  background-color: rgba(168, 255, 205, 0.17);
}
.send-money{
  background-color: rgba(255, 130, 124, 0.15);
}

.table-wrapper{
    background-color: white;
}