$header-height: 90px;
$left-sidebar-width: 350px;
$right-sidebar-width: 350px;
$border-color: rgba(0,0,0,0.1);
$primary-color: #2ecc71;
$body-color: #e6ecf0;
$danger-color: #e74c3c;
$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;