@import 'variable';
body, html {
  margin: 0;
  padding: 0;
  color: $body-color;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
}

.main-page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .sidebar-left {
    border-right: solid 1px $border-color;
    border-top: solid 1px $border-color;
    flex-grow: 1;
    width: 350px;
    background-color: #2ecc71;
  }
  .content {
    border-top: solid 1px $border-color;
    flex-grow: 3;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #94C2ED;

  }
  .sidebar-right {
    border-top: solid 1px $border-color;
    border-left: solid 1px $border-color;
    flex-grow: 1;
    width: 350px;
    background-color: #e74c3c;
  }
}