.sidebar {
  margin-top: 35px;
  .sidebar-head {
  padding-right: 15px;
  padding-left: 15px;
    .displayName {
      margin: 0;
      font-size: 18px;
      font-weight: 800;
      a {
        line-height: 28px;
      }
      a:hover {
        border-bottom: solid 2px #000;
      }
    }
    .userName {
      color: #657786;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 12px;
    }
    .userName {
      span:hover {
        border-bottom: solid 1px;
        cursor: pointer;
      }
    }
    .location {
      color: #657786;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 8px;
      position: relative
    }
    .joined-date {
      color: #657786;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 8px;
      position: relative
    }
    .birthdate {
      color: #657786;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 8px;
      position: relative
    }
  }
}