.sidebar {
  margin-top: 35px;
  .sidebar-head {
  padding-right: 15px;
  padding-left: 15px;
    .displayName {
      line-height: 1;
    }
    .userName {
      line-height: 1;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 12px;
    }
  }
}